<section>
  <div class="contenedor">
    <img src="https://picsum.photos/1000/1000" alt="gpsr">
    <div class="texto-superpuesto">
      <p>GPSR autonomy through different large language models </p>
    </div>
  </div>

  <div class="about-head">
    <div class="about-item">Author: Luccas Rojas - Task Team</div>
    <p class="paragraph-light">The main objective of this project is to grant autonomy to the robot through the
       interpretation of instructions facilitated by the use of an integral language model, such as GPT or Llama.</p>
  </div>
</section>

<section class="section1">
  <iframe src="assets\pdf\GSPR.pdf" style="border: none;"></iframe>
</section>