<h1 class="heading-3" style="margin: 20px">Meet our projects</h1>
<section class="dark">
  <div class="container py-4">
    <article class="postcard dark blue" *ngFor="let proyecto of proyectos">
        <img class="postcard__img" [src]="proyecto.imagen" [alt]="proyecto.titulo"/>
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          {{proyecto.titulo}}
        </h1>
        <div class="postcard__subtitle small">
          <time>
            <i class="fas fa-calendar-alt mr-2"></i>{{proyecto.fecha}}
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt paragraph-light">
          {{proyecto.contenido}}
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item" *ngFor="let tag of proyecto.tags">
            <i class="fas fa-tag mr-2"></i>{{tag}}
          </li>
          <li class="tag__item">
            <i class="fas fa-clock mr-2"></i>{{proyecto.estado}}
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
