<section>
    <div class="contenedor">
      <img src="https://picsum.photos/1000/1000" alt="gpsr">
      <div class="texto-superpuesto">
        <p>Web remote controller </p>
      </div>
    </div>
  
    <div class="about-head">
      <div class="about-item">Interface Team</div>
      <p class="paragraph-light">It focuses on the implementation of a local web server that uses vueJS, django and ros to
         interact with the robot's toolkit, allowing control and monitoring from web devices.</p>
    </div>
  </section>

  <section>
    <div class="hey-heading">
        <p>This project is still under development by our team, we will have news about it soon! ;)</p>
    </div>
  </section>