<div class="container mt-5">
  <h1 class="heading-3 mb-4">All News</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let noticia of noticias">
      <div class="card h-100">
        <img [src]="noticia.imagen" class="card-img-top" [alt]="noticia.titulo"
             style="object-fit: cover; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{noticia.titulo}}</h5>
          <p class="card-text">{{noticia.contenido}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Updated on {{noticia.fecha | date:'d MMMM, y'}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
