<section>
    <div class="contenedor">
      <img src="https://picsum.photos/1000/1000" alt="gpsr">
      <div class="texto-superpuesto">
        <p>Simplified Robot Motion: Robowflex Integration for Pepper </p>
      </div>
    </div>
  
    <div class="about-head">
      <div class="about-item">Manipulation Team</div>
      <p class="paragraph-light">Aims to streamline Pepper robot motion programming through Robowflex integration.
         This simplifies trajectories, enables benchmarking, and enhances the accessibility for motion planning.</p>
    </div>
  </section>

  <section>
    <div class="hey-heading">
        <p>This project is still under development by our team, we will have news about it soon! ;)</p>
    </div>
  </section>