<h1 class="heading-3" style="margin: 20px">Check out our videos!</h1>

<br/>
<h2 class="heading-3"> Our Team Qualification Videos</h2>
<br/>
<h3 class="heading-3"> Robocup 2024</h3>
<br/>
<section>
  <iframe  src="https://www.youtube.com/embed/do_hlo4xCxc" frameborder="0" allowfullscreen></iframe>
</section>
<br/>
<h3 class="heading-3"> Robocup 2022</h3>
<br/>
<section>
  <iframe src="https://www.youtube.com/embed/lBrdyAWdJaQ?si=Zo70pck3BO-MIt9y" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
<br/>
<h3 class="heading-3"> Robocup 2020</h3>
<br/>
<section>
  <iframe src="https://www.youtube.com/embed/bbVNEVZZLmk?si=58X1gyhItSdabWnw" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
<br/>

<br/>
<h2 class="heading-3"> Our Presentation at the ROS Meetup 2024</h2>
<br/>
<section>
  <iframe src="https://www.youtube.com/embed/wJgzFyKOhPY?si=u0Jp97ugVzhbn2x3" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
<br/>

<h2 class="heading-3"> Our Appearances in the News!</h2>
<br/>
<section>
  <iframe src="https://www.youtube.com/embed/xfRCBK9n7cI?si=nzgRp5hZwhpnpYGh" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
<br/>
<section>
  <iframe src="https://www.youtube.com/embed/mDtJb6BaJeg?si=jfN8E2f9ha6a7T1h" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>

